[Unit]
Description=1Password (autostart)
After=waybar.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/opt/1Password/1password --silent
Restart=on-failure
RestartSec=2

[Install]
WantedBy=waybar.service
