[Unit]
Description=1Password (autostart)
After=xsession.target
PartOf=xsession.target

[Service]
Type=simple
ExecStart=/opt/1Password/1password --silent
Restart=on-failure
RestartSec=2
Environment=SSH_AUTH_SOCK=%h/.1password/agent.sock

[Install]
WantedBy=xsession.target
