[Unit]
Description=Steam (minimized)
After=xsession.target
PartOf=xsession.target

[Service]
Type=simple
ExecStart=/usr/bin/steam -silent
Restart=no
ExecCondition=/usr/bin/test "$XDG_SESSION_TYPE" = "x11"

[Install]
WantedBy=xsession.target
