[Unit]
Description=Steam (minimized)
After=waybar.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/steam -silent
Restart=no

[Install]
WantedBy=waybar.service
